body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #000000;
}

span {
    color: #FFFFFF;
}

.min-height-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #9d4edd;
    text-align: center;
    font-size: 48px;
    margin-bottom: 0;
}

/* main-container */

/* start-page */

.container {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #9d4edd;
    color: #FFFFFF;
    border: unset;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 150px;
}

button:hover {
    cursor: pointer;
    background-color: #6f29a9;
}

/* container-names */

.container-names {
    color: white;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-names-description {
    margin-bottom: 32px;
}

.label-player1 {
    margin-bottom: 20px;
}

.label-player2 {
    margin-bottom: 32px;
}

input {
    height: 32px;
    width: 240px;
    border: 2px solid #9d4edd;
    border-radius: 10px;
    background-color: rgba(157, 78, 221, 0.2);
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    color: white;
    margin-left: 8px;
}

input:focus {
    outline: unset;
    border: 2px solid white;
}

/* game-container */

#gameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* game-info */

.gameInfo {
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameInfo span {
    display: block;
    margin-bottom: 24px;
}

.sign-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-restart {
    margin-top: 30px;
    margin-bottom: 0px;
}


/* content */

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

table {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}

.td-hover:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

table td {
    border: 5px solid white;
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

/* footer */

footer {
    background-color: #9d4edd;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer div {
    color: white;
    margin: 0 4px 0 4px;
}

/* impressum and privacy-policy */

.back-arrow {
    margin: 20px;
}

.back-arrow a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.back-arrow a:hover {
    text-decoration: underline;
}

.impressum-container,
.datenschutz-container {
    color: white;
    margin: 0 20px 20px 20px;
}


/* generic classes */

.d-none {
    display: none;
}

@media (max-width: 550px) {

    .container-names-description {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    .back-arrow {
        margin: 10px 10px 20px 10px;
    }

    .impressum-container,
    .datenschutz-container {
        margin: 0 10px 10px 10px;
    }

    .datenschutz-container h1 {
        font-size: 20px;
    }
    
    .datenschutz-container h2 {
        font-size: 18px;
    }
    
    .datenschutz-container h3 {
        font-size: 16px;
    }
    
    .datenschutz-container p {
        font-size: 14px;
    }
}