body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #000000;
}

span {
    color: #FFFFFF;
}

.min-height-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #9d4edd;
    text-align: center;
    font-size: 48px;
    margin-bottom: 0;
}

/* main-container */

/* start-page */

.container {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #9d4edd;
    color: #FFFFFF;
    border: unset;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 150px;
}

button:hover {
    cursor: pointer;
    background-color: #6f29a9;
}

/* container-names */

.container-names {
    color: white;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-names-description {
    margin-bottom: 32px;
}

.label-player1 {
    margin-bottom: 20px;
}

.label-player2 {
    margin-bottom: 32px;
}

input {
    height: 32px;
    width: 240px;
    border: 2px solid #9d4edd;
    border-radius: 10px;
    background-color: rgba(157, 78, 221, 0.2);
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    color: white;
    margin-left: 8px;
}

input:focus {
    outline: unset;
    border: 2px solid white;
}

/* container-game */

.content-text {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.sign-of-player {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    margin-bottom: 80px;
}

table {
    border-collapse: collapse;
    border: 5px solid transparent;
    color: white;
}

td {
    width: 100px;
    height: 100px;
    border: 5px solid white;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

tr:first-child td {
    border-top: none;
}
tr:last-child td {
    border-bottom: none;
}
td:first-child {
    border-left: none;
}
td:last-child {
    border-right: none;
}

/* footer */

footer {
    background-color: #9d4edd;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer div {
    color: white;
    margin: 0 4px 0 4px;
}

/* impressum and privacy-policy */

.back-arrow {
    margin: 20px;
}

.back-arrow a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.back-arrow a:hover {
    text-decoration: underline;
}

.impressum-container,
.datenschutz-container {
    color: white;
    margin: 0 20px 20px 20px;
}

/* generic classes */

.d-none {
    display: none;
}